.bg-skills {
    background-color: var(--color-black-first);
    height: 730px;
}
.bg-skills h1 {
    color:var(--color3);
    font-size: 30px;
    font-family: var(--font2);
    text-align: center;
}
.bg-skills h2 {
    font-size: 20px;
    font-family: var(--font2);
    color: var(--color3);
    
}


.progress-bar {
    height: 10px;
    width: 320px;
    padding: 1px;
    display: flex;
    background-color: var(--color3);
}

.progress-bar::before {
    content: "";
    width: 70%;
    background-color: var(--color2);
}
