.footer{
    height: 90px;
    background-color: black;
}

.social {
    padding: 25px;
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
  }
  
.social a {
    font-size: 44px;
    
    color: #fff;
    
    margin-right: 30px;
    transition: 0.3s;
  }
  
.social  a:hover {
    color: var(--color2);
  }