.footer{
    height: 90px;
    background-color: black;
}

.social {
    margin: 50px;
    text-align: center;
  }
  
.social a {
    font-size: 44px;
    display: inline-block;
    color: #fff;
    line-height: 3;
    margin-right: 30px;
    transition: 0.3s;
  }
  
.social  a:hover {
    color: var(--color2);
  }