.main-box {
    display: inline-block;
    background-color: var(--color-black-second);
    box-shadow: 10px 10px 15px;
    text-align: center;
    padding: 42px 42px;
    
}

.main-box .main-title {
    margin-bottom: 28px;
}
 
