@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');


:root {
    --color1: #321251;
    --color2: #1B7698;
    --color3: #F2F2F2;
    --color-black-first: #131212;
    --color-black-second: #212425;
    --color-black-third: #828282;


    --font1: 'Fira Code', monospace;
    --font2: 'Press Start 2P', sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px;
}

header img {
    height: 95px;

}

header li{
    display: inline-flex;
    margin: 0 0 0 30px;
    
}


header a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color3);
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    
}

header a.list::before {
    display: inline-block;
    content: '';
    padding: 5px;
    background-color: var(--color2);
    margin-right: 10px;

}

header a:hover {
    color: var(--color-black-third);
    transform: scale(1.1);
}

nav {
    text-align: right;
}

header button {
    height: 60px;
    width: 170px;
    margin: 20px;
    background-color: var(--color2);
    box-shadow: 5px 5px 0px #0000008c;
    transition: transform 200ms cubic-bezier(0.88, -0.7, 0, 2.2);
}

header button:hover {
    transform: scale(1.08);
    cursor:pointer;
}

#bg_home {
   
    background-position: center;
    background-size: cover;
    background-image: url('assets/img/bg_home.jpg');
    height: 700px;
}
 